button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color-border-thin-medium;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em;

	&:hover {
		border-color: $green;
		background-color: lighten(desaturate($green, 50), 50);
	}

	&:active,
	&:focus {
		border-color: $color-border-thin-medium;
	}
}