// primary/body
body {

}

.page {

}

header {
  &.site-header {
    height: 100px;
  }

  &.parallax-window {
    @import "./modules/parallax-header";
  }

  // &.site-header {
  //   position: fixed;
  //   height: 100px;
  //   top: 0;
  //   z-index: 99999;
  // }
}

#content {
  max-width: $max-main-container-width;
  margin: 0 auto;
}

footer{
  max-width: $max-main-container-width;
  margin: 0 auto;
}
