#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media screen
  and (min-width: 769px) {
    flex-direction: row;
  }
 
  @media screen
  and (min-width: 769px) {
    width: 80%;
    margin-left: 10%;
  }

  @media screen
  and (min-width: $max-main-container-width) {
    width: $max-main-container-width;
    margin: 0 auto;
  }

  #primary {
    // flex: 1 1 0;
    padding: 1em;
    order: 2;
    
    @media screen
    and (min-width: 769px) {
      order: 1;
    }
  }

  #secondary {
    // flex: 1 1 0;
    padding: 2.53em 1em 1em 1em;
    order: 1;
    align-self: center;

    @media screen
    and (min-width: 769px) {
      order: 2;
      //padding: 0;
      align-self: auto;
    }

    .widget_search {
      display: flex;
      //flex-direction: column;

      // form {
      //   align-self: flex-end;
      // }
    }
  }

}

// Info
#tuff-info {
margin-top: 2em;

  .news-bullets {
    display: flex;
    flex-direction: column;

    .news-bullet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 0 1em;

      @media screen
      and (min-width: 769px) {
        align-self: flex-start;
        width: 100%;
      }  
    }  

    @media screen
    and (min-width: 769px) {
      flex-flow: row;
    }
  }
}

.icon-background1 {
  color: green;
}
.icon-background2 {
  color: orange;
}
.icon-background3 {
  color: $light-blue;
}

// Tuff Menus
#tuff-menus {
  text-align: center;
  
  // header {
  //   @media screen
  //   and (min-width: 769px) {
  //     display: none;
  //   }
  // }

  h3 {
    font-size: 1.5rem;
  }

  .fdm-column {
    @media screen
    and (min-width: 769px) {
      display: flex;
      flex-flow: row wrap;
      //align-items: flex-start;
    }

  }
  .fdm-section {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    border: 1px solid $color-border-thin-dark;
    border-radius: 3px;
    padding: 1em;

    &.fdm-section-breakfast{
      background: beige;
    }
    &.fdm-section-lunch {
      background: $light-blue;
    }
    &.fdm-section-barrista {
      background: $light-green;
    }
    &.fdm-section-bartender{
      background: beige;
    }

    @media screen
    and (min-width: 769px) {
      width: 50%;
      
    }
  }

  .fdm-item-panel {
    display: flex;
    flex-direction: column;

    p {
      padding-right: 0;
    }
  }
  .fdm-item {
    margin-bottom: 0;
  }
  .fdm-item-title {
    padding-right: 0;
  }
  .fdm-item-price-wrapper {
    display: none;
  }
}
