footer {
    position: fixed;
    bottom: 0;
    background: $brown;
    width: 100%;
    height: $footer-height;
    z-index: -999;
    text-align: center;
}

.site-info {
    font-size: .75em;
    color: $dark-green;

    a {
        color: $dark-green;
        &:hover {
            color: $light-green;
        }
    }
}