/*! secondary/_acf-styles.scss */

// Post Links
#post-links {
  display: flex;
  flex-flow: row wrap;

  section {
    display: flex;
    flex-flow: row wrap
  }

  div {
    background: $light-gray;
    border: 1px solid transparentize(gray, 0.7);
    border-radius: 5px;
    padding: .75em;
    font-size: .7em;
    font-family: $sans-serif;
  }
}

// Post Maps
.acf-map {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%;
	width: 100%;
	height: 320px;
	border: $color-border-thin-dark solid 1px;
	margin: 20px 0;
  border-radius: 3px;

  // @media (max-width: $landscape) {
  //   height: 275px;
  // }
  // @media (max-width: $tab) {
  //   height: 370px;
  // }
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

//.gm-style img { max-width: none; max-height: none;}
