a {
	color: $light-green;
	font-family: $font1;

	// &:visited {
	// 	color: $light-green;
	// }
	
	&:hover,
	&:focus,
	&:active {
		color: $green;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}