a {
	color: $light-gray;
	font-family: $font1;

	&:visited {
		color: $light-gray;
	}
	&:hover,
	&:focus,
	&:active {
		color: $green;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}